.carousel-item .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carousel-item .col-4 {
    flex: 1 0 30%; /* Aproximadamente 1/3 da linha, com espaço para padding */
    max-width: 20%; /* Limita o tamanho máximo de cada cartão */
    padding: 10px;
}

.carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-4 {
    margin: 0 15px; /* Espaçamento lateral entre os cartões */
}

.card-spacing {
    margin: 25px;
}

.carousel-item {
    display: flex;
    justify-content: center;
}
.carousel-control-prev,
.carousel-control-next {
    margin: 0 20px;  /* Adiciona espaçamento à esquerda e à direita */
}
